// header
.header-inner {
  padding: 20px 8px
}

.posts-expand.index .post-title, .posts-expand.index .post-meta, .posts-expand.index .post-title-link {
    text-align: center;
}

.posts-expand {
  .post-tags {
    text-align: center;
  }
}

.post-button {
  text-align: center;
}

.brand:hover {
    border-bottom: unset;
}

.github-corner svg {
    fill: #428bca;
}

// Pagination
// --------------------------------------------------
.pagination {
  text-align: center;

  +mobile() {
    text-align: center;
  }
}

// Footer
// --------------------------------------------------
.footer {
    padding: 20px 0;
}

.footer-inner {
  text-align: center;

  +mobile() {
    text-align: center;
  }
}

.links-of-author a, .links-of-author span.exturl {
    border-bottom: 1px solid #ccc;
    display: unset
    margin-bottom: unset
    vertical-align: unset
    font-size: unset
}

.links-of-author a:hover, .links-of-author span.exturl:hover {
    border-bottom: 1px solid #ccc;
}

.theme-link-bottom {
    font-weight: bold;
    border-bottom-color: #ccc
}

// post-button
.post-button .btn:hover {
    border-bottom-color: #428bca;
}

.post-button .btn {
    border-bottom: 2px solid #428bca;
}

.posts-expand .post-meta time {
    border-bottom: 1px dashed #87daff;
}

a, span.exturl {
    border-bottom: 1px solid #87daff;
}

a:hover, span.exturl:hover {
    border-bottom: 1px solid #428bca;
}

.posts-expand .post-title-link::before {
    background: #87daff;
}

// Post
// --------------------------------------------------
.post-nav-item a:hover {
    border-bottom: unset
}

.posts-expand .post-tags a {
    background: #87daff;
}

.posts-expand .post-tags a:hover {
    background: #428bca;
}

.posts-expand .post-body img {
    margin-left: auto;
}

// SideBar
// --------------------------------------------------
.links-of-author a::before, .links-of-author span.exturl::before {
    background: #87daff;
}